*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* utilite class */
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: black;
    transition: 0.2s ease-in-out;
}
.hover-link:hover{
    color: green;
    text-decoration: underline;
}
.btn{
    position: relative;
    top:10px;
    background-color: lightgreen;
    color: green;
    border-radius: 4px;
    padding: 5px 10px;
}

/* Nav bar start */
nav{
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    padding: 20px 0px;
    color: #fff;
    box-shadow: 0 0 10px black;
}
.main-nav{
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    color: green;
}
.menus{
    gap: 20px;
    justify-content: end;
}
.links{
    justify-content: end;
    gap: 20px;
    font-size: 1.3rem;
}
.menu-btns{
    gap: 20px;
    justify-content: end;
    font-size: 2rem;
}
#menu-btn{
    display: none;
}
/* header strt */
.main-header{
    background-image: url(./images/home-slide-1.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    /* background-size: cover !important; */
    /* background-position: center !important; */
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.contant{
    position:relative;
    padding: 0 100px;
    width: 60%;
    height: 100%;
    top:30%;
    color:white;
    left: 8%;
}
/* subject strt */
.subjects h2,.courses h2{
    text-align: center;
    padding: 50px 0;
    color: green;
}
.subject-boxs{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.subject-box{
    border: 1px solid green;
    text-align: center;
    background-color: lightgreen;
    padding: 10px 30px;
    border-radius: 5px;
}
.subject-box img{
   width: 100px;
}

/* course strt */
.course-boxs{
    padding: 40px 0;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: relative;
}
.course-box{
    padding: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.course-box img{
    width: 400px;
}
/* .course-contant{
    position: relative;
    top:-150%;
    bottom: 0;
    left: 0;
    background-color: green;
    color: white;
    padding: 40px 10px;
    height: 100%;
    text-align: center;
    line-height: 3rem;
} */

/* footer strt */
footer{
    background-color: green;
    padding: 50px 30px;
}
.main-footer{
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.footer-logo{
color: #fff;
padding-bottom: 20px;
font-size: 2rem;
}
.social-links{
    justify-content: start;
    gap: 20px;
}
.social-links a{
    background-color: black;
    color: #fff;
    padding: 10px 17px;
    font-size: 1.3rem;
    border-radius: 50%;
    text-align: center;
}
.footer-links{
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: start;
    overflow: hidden;
}